PORT=8080
BACKEND_URL=http://localhost
PROVIDER=turvo
TURVO_BASE_URL=https://my-sandbox-publicapi.turvo.com/v1
TURVO_API=your_api_key
TURVO_CLIENT_NAME=your_client_name
TURVO_CLIENT_SECRET=your_client_secret
TURVO_USERNAME=your_turvo_login_username
TURVO_PASSWORD=your_turvo_login_password
LOAD_STORE_PATH=.data/drumkit-loads.json
